body{
   margin:0;
   padding:0;
   background-image: url("./fond.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
}
header{
    background-color: black;
    margin-top: 0px auto;
    
}
#logo{
    position: absolute;
    left: 0;
} 




    
